@media (min-width: 992px) {
    .container,.nav-container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container,.nav-container {
        max-width: 1140px;
    }
}
@media (min-width: 1320px) {
    .container,.nav-container {
        max-width: 1420px;
    } 
}
@media (max-width: 1200px) {
.nav_adress {
    display: none;
}
}
@media (max-width: 991px) {
#pc {
    display: none;
}
}