.services ul li span:hover {
    color: #51c972;
}
.services ul li span:after, .faq ul li span:after {
    content: '#btn';
    display: inline-block;
    width: 15px;
    height: 15px;
    position: absolute;
    border-top: 2px solid #bba788;
    border-right: 2px solid #bba788;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    right: 30px;
    top: 50%;
    margin-top: -5px;
    -webkit-transition: border-color 0.6s, -webkit-transform 0.3s;
    transition: border-color 0.6s, -webkit-transform 0.3s;
    -o-transition: border-color 0.6s, transform 0.3s;
    transition: border-color 0.6s, transform 0.3s;
    transition: border-color 0.6s, transform 0.3s, -webkit-transform 0.3s;
}
*, *::before, *::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.services ul li span:hover, .faq ul li span:hover {
    color: #51c972;
}
.services ul ul {
    display: none;
}