.collapsible {
    background-color: #f1b1b3;
    padding: 18px;
    cursor: pointer;
    width: 100%;
    border-bottom: 1px  #ffffff;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active,
.collapsible:hover {
    background-color: #e78f92;
}

#collapsible2 {
    background-color: #e7b5b7;
}
#collapsible2:hover {
    background-color: #e78f92;
}

.content {
    max-height: 0;
    overflow: hidden;
    transition: max-Height 0.1s ease-in-out;
    background-color: #ffffff;
}
.content li {
    padding-bottom: 20px;
}

.services-list p {
    padding-left: 20px;
}
#services {
    padding-bottom: 60px
}
.services-list {
    padding-bottom: 30px;
}