* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif !important ;
    background: linear-gradient(180deg, #ffcbcd 0%, #f8dcdf 100%);
}

a {
    text-decoration : none !important;
}

h1,h2,h3,h4,h5,h6 {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Slab', serif;
    color: #000;
    
}
.nav-link,.btn,.nav_adress {
    color: #000;
}


/* Header-nav  */

.logo-salon {
    max-width: 200px;
    vertical-align: middle;
    padding: 0 25px;
}

.navbar {
    background: #fff !important;
}

.nav-item {
    margin-right: 15px;
}
.nav-item:hover {
    opacity: .60;
}

.nav_link {
    text-align: center;
    text-transform: uppercase;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    color: #000;
    font-size: 16px;
    white-space: nowrap;
    text-decoration: none;
}
.nav_item:hover {
    transform: scale(1.2);
}

.nav_adress {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}
.nav_adress p {
    padding-top: 15px;
    margin-right: 20px;

}
.nav_adress img {
    margin-right: 15px;
}

/* Nav-btn */

#pc {
    white-space: nowrap;
}

.btn_border {
    display: inline-block;
    color: #fff !important;
    border-radius: 30px !important;
    padding: 10px 30px;
    margin-left: 10px;
    font-size: 16px;
    background-color: #fda49f !important;
}

.btn_border:hover {
    transition: .4s;
    background-color: #b86c64 !important;
}


/* Main (about) */

.page {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
section {
    padding-top: 100px;
}
.row_aic {
    display: flex;    
    justify-content: space-between;
    align-items: center;
}
.about_text {
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.about_text>p {
    margin-top: 20px;
    font-weight: 500;
    font-size: 20px;
}
.about_img img {
    max-width: 600px;
    height: 420px;
}
h1 {
    font-size: 36px;
    font-weight: 700;
}
h2 {
    padding-bottom: 30px;
    text-align: center;
}


/* GALLERY */

.middle {
    width: 100%;
    padding: 1% 0 2%;
    position: relative;
  }


/* FOOTER  */

.logo-footer {
    max-width: 150px;
}
.footer-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.footer-menu a {
    color: #000;
}
.footer-menu li {
    list-style: none;
}
.foot_icon {
    margin-right: 10px;
}
.foot_icon:hover {
    transform: scale(1.2);
}